2024H1/Node-RED/天気予報.json
[
    {
        "id": "ce2c2c53de4372cf",
        "type": "tab",
        "label": "天気予報",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85e201f4d1b56879",
        "type": "inject",
        "z": "ce2c2c53de4372cf",
        "name": "発火",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"city\":\"名古屋\"}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "4f53c61d2e4dc897"
            ]
        ]
    },
    {
        "id": "d94ce3519d148243",
        "type": "http request",
        "z": "ce2c2c53de4372cf",
        "name": "天気予報取得",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "af0d4f49969a5aa0",
                "9dac0f5987887e92"
            ]
        ]
    },
    {
        "id": "4f53c61d2e4dc897",
        "type": "function",
        "z": "ce2c2c53de4372cf",
        "name": "URL生成",
        "func": "var apiKey = global.get('OPENWEATHERMAP_API_KEY');\nvar cityMap = {\n    \"東京\": \"Tokyo\",\n    \"大阪\": \"Osaka\",\n    \"名古屋\": \"Nagoya\",\n    \"岡山\": \"Okayama\"\n};\nvar cityJapanese = msg.payload.city;\nvar city = cityMap[cityJapanese];\nvar url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;\nmsg.url = url;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "d94ce3519d148243"
            ]
        ]
    },
    {
        "id": "af0d4f49969a5aa0",
        "type": "function",
        "z": "ce2c2c53de4372cf",
        "name": "",
        "func": "const res = {\n    \"weather\": msg.payload.weather[0].main\n}\n\nmsg.payload = {\n    \"keys\": Object.keys(res),\n    \"records\": [res]\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "cb1c2df934e64548",
                "2dfcb83e8643d71e"
            ]
        ]
    },
    {
        "id": "9dac0f5987887e92",
        "type": "debug",
        "z": "ce2c2c53de4372cf",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb1c2df934e64548",
        "type": "debug",
        "z": "ce2c2c53de4372cf",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "db44e9b37139f33b",
        "type": "comment",
        "z": "ce2c2c53de4372cf",
        "name": "課題１",
        "info": "eYACHOからリクエストを受け取るようにノードを追加してください。",
        "x": 70,
        "y": 160,
        "wires": []
    },
    {
        "id": "8180e0b4cb5c889d",
        "type": "comment",
        "z": "ce2c2c53de4372cf",
        "name": "課題２",
        "info": "eYACHOから都市を指定できるようにしてください。\n・東京\n・大阪\n・名古屋\n・岡山\n\n※利用しているのはOpenWeatherMapです。",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a421cfcf51832cf",
        "type": "comment",
        "z": "ce2c2c53de4372cf",
        "name": "課題３",
        "info": "eYACHOにレスポンスを返却するノードを作成してください。",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "d3379c2f4b85391f",
        "type": "http in",
        "z": "ce2c2c53de4372cf",
        "name": "",
        "url": "/forecast",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "4f53c61d2e4dc897"
            ]
        ]
    },
    {
        "id": "2dfcb83e8643d71e",
        "type": "http response",
        "z": "ce2c2c53de4372cf",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 320,
        "wires": []
    }
]