2024H1/Node-RED/緯度経度.json
[
    {
        "id": "1bfd46554213fc5a",
        "type": "tab",
        "label": "LatLon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ad7c117b665f7c6",
        "type": "http in",
        "z": "1bfd46554213fc5a",
        "name": "",
        "url": "/latlon",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 820,
        "wires": [
            [
                "c76a52a1dd0cb498"
            ]
        ]
    },
    {
        "id": "c76a52a1dd0cb498",
        "type": "function",
        "z": "1bfd46554213fc5a",
        "name": "Generate URL",
        "func": "var apiKey = global.get('OPENWEATHERMAP_API_KEY');\nvar lat = msg.payload.lat;\nvar lon = msg.payload.lon;\n\nvar url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${apiKey}&units=metric`;\nmsg.url = url;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 820,
        "wires": [
            [
                "865e7c7c3ed8f73e"
            ]
        ]
    },
    {
        "id": "865e7c7c3ed8f73e",
        "type": "http request",
        "z": "1bfd46554213fc5a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 820,
        "wires": [
            [
                "ba63f1d2544f703a",
                "0f6b19cebc460ba5"
            ]
        ]
    },
    {
        "id": "ba63f1d2544f703a",
        "type": "function",
        "z": "1bfd46554213fc5a",
        "name": "function 1",
        "func": "if(msg.payload.cod == \"400\")\n{\n    msg.payload = {};\n    return msg;\n}\nconst res = {\n    \"weather\": msg.payload.weather[0].main,\n    \"icon\": `http://openweathermap.org/img/wn/${msg.payload.weather[0].icon}@2x.png`,\n    \"temperature\": msg.payload.main.temp,\n    \"temp_max\": msg.payload.main.temp_max,\n    \"temp_min\": msg.payload.main.temp_min,\n    \"humidity\": msg.payload.main.humidity\n};\n\nmsg.payload = {\n    \"keys\": Object.keys(res),\n    \"records\": [res]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 880,
        "wires": [
            [
                "708bff714c989a71",
                "969769249b5c6839"
            ]
        ]
    },
    {
        "id": "708bff714c989a71",
        "type": "http response",
        "z": "1bfd46554213fc5a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 880,
        "wires": []
    },
    {
        "id": "db0194bbdd5cfb81",
        "type": "inject",
        "z": "1bfd46554213fc5a",
        "name": "TEST",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lat\":\"14\", \"lon\":\"9\"}",
        "payloadType": "json",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "c76a52a1dd0cb498"
            ]
        ]
    },
    {
        "id": "0f6b19cebc460ba5",
        "type": "debug",
        "z": "1bfd46554213fc5a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 740,
        "wires": []
    },
    {
        "id": "969769249b5c6839",
        "type": "debug",
        "z": "1bfd46554213fc5a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 980,
        "wires": []
    }
]